# Oracle Database Connection
ORACLE_DB_USERNAME=myuser
ORACLE_DB_PASSWORD=mypassword
# DSN pointing to the docker block's hostname and default sid
# gvenzl/oracle-free usesFREEPDB1 as default PDB and FREE as default SID/service
ORACLE_DB_DSN=oracle:1521/?service_name=FREEPDB1

# Authentication
# You can generate a random secret key using: openssl rand -hex 32
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRATION_MINUTES=30
